.my-yums {
  height: 84vh;
  width: 100vw;
  // background: linear-gradient(.25turn, #3D82AB, 75%, #45BB89);
  background-image: url("../../../../public/yums.jpg");
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #91D4C2;
  overflow-y: scroll;
}

.yum {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  background: rgba(0,56,83,0.7);
  padding: 8px;
  border-radius: 6px;
}

.yum:first-child {
  margin-top: 16px;
}
.yum:last-child {
  margin-bottom: 16px;
}

.yum-photo {
  width: 30%;
}
.yum-photo img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.yum-info {
  width: 70%;
  margin: 0 0 0 12px;
}

.yum-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#yum-name {
  font-size: 1.2rem;
  font-weight: bold;
}
#yum-name:hover {
  text-decoration: underline;
}
#yum-type {
  font-size: 0.9rem;
}

.yum-content {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.yum-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.yum-button {
  background-color: #45BB89;
  color: white;
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}
.yum-button:hover {
  background: #006653;
}
#yum-remove {
  background: rgb(200, 0, 0);
}
#yum-remove:hover {
  background: rgb(120, 0, 0);
}
