.map {
  height: 86vh;
  width: 100%;
}

.events {
  height: 86vh;
  width: 100vw;
  background-color: #3D82AB;
  color: #91D4C2;
}

mat-sidenav {
  height: 100%;
  width: 90%;
  background-color: rgba(61,130,171,0.6);
  color: #91D4C2;
}
