.map {
  height: 84vh;
  width: 100vw;
}

.events {
  height: 84vh;
  width: 100vw;
  background-color: #3d82ab;
  background-image: url("https://transparenttextures.com/patterns/tileable-wood.png");
  color: #91D4C2;
}

mat-sidenav {
  height: 100%;
  width: 90%;
  background-color: rgba(61,130,171,0.6);
  color: #91D4C2;
}

map-info-window {
  color: black;
}
