.map {
  height: 84vh;
  width: 100vw;
}

.events {
  height: 84vh;
  width: 100vw;
  background: linear-gradient(.25turn, #3D82AB, 75%, #45BB89);
  color: #91D4C2;
}

mat-sidenav {
  height: 100%;
  width: 90%;
  background-color: rgba(61,130,171,0.6);
  color: #91D4C2;
}
