<div class="map">
  <mat-sidenav-container>
    <mat-sidenav mode="over" position="end" [opened]="showFilter"
      ><app-filter></app-filter
    ></mat-sidenav>
    <mat-sidenav-content>
      <google-map
        *ngIf="showMap"
        height="84vh"
        width="100vw"
        [options]="mapOptions"
        (mapInitialized)="handleMapInitialized($event)"
        (mapClick)="click($event)"
      >
        <map-marker
          #markerElem = "mapMarker"
          *ngFor="let marker of markers"
          [position]="marker.position"
          (mapClick)="openInfoWindow(markerElem)"
  >
        </map-marker>
        <map-info-window [options]="infoWindowOptions">
          <div *ngIf="!showReviews">
            <img [src]="infoContent.photo" alt="photo">
            <div class="info-window">
              <div class="info-window-name">
                <button id="name" (click)="toggleReviews()">
                  {{infoContent.name}}
                </button>
              </div>
              <div class="info-window-rating">
                <div id="rating">⭐{{infoContent.rating}}</div>
                <div id="total-ratings">({{infoContent.totalRatings}})</div>
              </div>
              <div class="info-window-buttons">
                <button class="add" *ngIf="infoContent.types.includes('restaurant')" (click)="onAdd()">Add</button>
                <button class="close" id="close" (click)="closeInfoWindow()">Close</button>
              </div>
            </div>
          </div>
          <div *ngIf="showReviews">
            <div class="info-reviews">
              <button id="back" (click)="toggleReviews()">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
              <div id="info-reviews-address">{{infoContent.address}}</div>
              <div id="info-reviews-phone">{{infoContent.phone}}</div>
              <div id="info-review" *ngFor="let review of infoContent.reviews">
                <div id="info-reviews-rating">⭐{{review.rating}} ({{review.relative_time_description}})</div>
                <div id="info-reviews-text">{{review.text}}</div>
              </div>
            </div>
          </div>
        </map-info-window>
    </google-map>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <section class="events" *ngIf="!showMap">Map Components</section>
</div>
