<div class="map">
  <mat-sidenav-container>
    <mat-sidenav mode="over" position="end" [opened]="showFilter"
      ><app-filter></app-filter
    ></mat-sidenav>
    <mat-sidenav-content>
      <google-map
        *ngIf="showMap"
        height="84vh"
        width="100vw"
        [options]="mapOptions"
        (mapInitialized)="handleMapInitialized($event)"
        (mapClick)="click($event)"
      >
        <map-marker
          #markerElem = "mapMarker"
          *ngFor="let marker of markers"
          [position]="marker.position"
          (mapClick)="openInfoWindow(markerElem)"
  >
        </map-marker>
        <map-info-window [options]="infoWindowOptions">
          <img [src]="infoContent.photo" alt="photo">
            <div class="info-window">
                <div class="info-window-name">{{infoContent.name}}</div>
                <div class="info-window-rating">{{infoContent.rating}} ({{infoContent.totalRatings}})</div>
              <!-- <span>{{infoContent.address}}</span> -->
              <!-- <span>{{infoContent.phone}}</span> -->
              <div class="info-window-buttons">
                <button>Add</button>
                <button (click)="closeInfoWindow()">Close</button>
              </div>
            </div>
        </map-info-window>
    </google-map>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <section class="events" *ngIf="!showMap">Map Components</section>
</div>
