<div class="map">
  <mat-sidenav-container>
    <mat-sidenav mode="over" position="end" [opened]="showFilter"
      ><app-filter></app-filter
    ></mat-sidenav>
    <mat-sidenav-content>
      <google-map
        *ngIf="showMap"
        height="84vh"
        width="100vw"
        [options]="mapOptions"
        (mapInitialized)="handleMapInitialized($event)"
        (mapClick)="click($event)"
      >
        <map-marker
          #markerElem = "mapMarker"
          *ngFor="let marker of markers"
          [position]="marker.position"
          (mapClick)="openInfoWindow(markerElem)"
  >
        </map-marker>
        <map-info-window>Tomato</map-info-window>
    </google-map>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <section class="events" *ngIf="!showMap">Map Components</section>
</div>
