<mat-toolbar>
  <a routerLink="/">
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
  </a>
  <a routerLink="/myyums">
    <button mat-icon-button>
      <mat-icon>restaurant_menu</mat-icon>
    </button>
  </a>
  <a routerLink="/search">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </a>
  <a routerLink="/reviews">
    <button mat-icon-button>
      <mat-icon>rate_review</mat-icon>
    </button>
  </a>
  <a routerLink="/user">
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </a>
</mat-toolbar>
