<div class="user">

  <div class="container" *ngIf="this.getSession() === null">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
        <form action="#">
          <input type="text" name="email" placeholder="Enter your email" [(ngModel)]="credentials.email" required>
          <input type="password" name="password" placeholder="Enter your password" [(ngModel)]="credentials.password" requried>
          <input type="button" class="button" value="Login" (click)="onSubmit()">
        </form>
        <div class="signup">
          <span class="signup">Don't have an account?
          <label for="check">Signup</label>
          </span>
        </div>
    </div>
    <div class="registration form">
      <header>Signup</header>
      <form action="#">
        <input type="text" placeholder="Enter your email" required>
        <input type="password" placeholder="Create a password" requried>
        <input type="password" placeholder="Confirm your password" required>
        <input type="button" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
        <label for="check">Login</label>
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="this.getSession() !== null">
    <p>User Account</p>
  </div>

</div>
