<div class="user">

  <div class="container" *ngIf="this.getSession() === null">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
        <form>
          <input type="email" placeholder="Email" name="email" [(ngModel)]="credentials.email" required>
          <input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password" requried>
          <div class="error">{{loginError}}</div>
          <button (click)="onLogin()">Login</button>
        </form>
        <div class="signup">
          <span class="signup">Don't have an account?
          <label for="check">Signup</label>
          </span>
        </div>
    </div>
    <div class="registration form">
      <header>Signup</header>
      <form>
        <input type="text" placeholder="Username" name="username" [(ngModel)]="registration.username" required>
        <input type="email" placeholder="Email" name="email" [(ngModel)]="registration.email" required>
        <input type="password" placeholder="Password" name="password" [(ngModel)]="registration.password" requried>
        <div class="error">{{registrationError}}</div>
        <button (click)="onRegister()">Signup</button>
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
        <label for="check">Login</label>
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="this.getSession() !== null">
    <p>User Account</p>
  </div>

</div>
